<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

      <!-- Manifest-only permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Runtime permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Exact alarm permission - for AlarmManager   -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <!-- Legacy storage permission  -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CocktailExplorer">
        <provider
            android:name=".CocktailContentProvider"
            android:authorities="hr.algebra.cocktailexplorer.provider"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="hr.algebra.PreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".HostActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Receiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="hr.algebra.cocktailexplorer.ACTION_DATA_IMPORTED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".notification.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="hr.algebra.cocktailexplorer.ACTION_SHOW_REMINDER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>